{% extends "layout/base.html" %}
{% load i18n %}
{% block content %}
<div id="loginbox" style="margin-top: 50px;"
     class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">{% trans "Sign Up" %}</div>
        </div>
        <div style="padding-top: 30px" class="panel-body">


            {% if message %}
            <div id="login-alert"
                 class="alert alert-danger col-sm-12">
                {% trans "Your provided data is not in correct format!!" %}

            </div>
            {% endif %}

            <form name='f' action="/app/registration" method="POST" id="registrationForm"
                  class="form-horizontal">
                 {% csrf_token %}

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                    <input id="user-code"
                           type="text" class="form-control" name="code" value="" required placeholder= "{% trans 'code' %}">
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email"
                           type="email" class="form-control" name="email" value="" required
                           placeholder=example@something.com>
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i
                                    class="glyphicon glyphicon-lock"></i></span>
                    <input id="password"
                           type="password" class="form-control" name="password" required
                           placeholder=Password>
                </div>

                <div style="margin-bottom: 25px" class="input-group">

                    <span class="input-group-addon">{% trans "Accept agreement" %}</span>
                    <input  name="agreement"
                           type="hidden" value="true" >

                    <input type="checkbox" value="1" class="form-control" disabled checked>

                </div>

                <div style="margin-top: 10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <input type="submit" class="btn btn-success" value="{% trans 'Submit' %}" style='width: 100%'>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}